- active = yield :active
%nav.side-navbar
  .sidebar-header.d-flex.align-items-center
    .avatar
      = image_tag("avatar.gif", alt: "Avatar", class: "img-fluid rounded-circle")
    .title
      %h1.h4
        Admin
      %p Yaro

  %span.heading Admin
  %ul.list-unstyled
    %li{ class: active == "dashboard" ? "active" : "" }
      %a{ href: admin_root_path }
        %i.fa.fa-home
        Dashboard
    %li{ class: active == "project" ? "active" : "" }
      %a{ href: "#projectSidebar", "data-toggle": "collapse" }
        %i.fa.fa-file
        Project
      %ul#projectSidebar.list-unstyled.collapse
        %li
          %a{ href: admin_projects_path } List Project
        %li
          %a{ href: new_admin_project_path } Add Project
    %li{ class: active == "user" ? "active" : "" }
      %a{ href: admin_users_path }
        %i.fa.fa-users
        User
    %li{ class: active == "email" ? "active" : "" }
      %a{ href: "#emailSidebar", "data-toggle": "collapse" }
        %i.fa.fa-envelope
        Email
      %ul#emailSidebar.list-unstyled.collapse
        %li
          %a{ href: admin_email_templates_path } List Email Template
        %li
          %a{ href: new_admin_email_template_path } Add Email Template
