%footer.main-footer
  .container-fluid
    .row
      .col-sm-6
      .col-sm-6.text-right
        %p
          Copyright &copy; 2017 by
          %a.external{ href: "https://upinus.com" } Upinus
          All rights reserved
